<div class="container">
  <div class="jumbotron col-sm-4 p-2 m-0 bg-inverse">
    
      <h5 class="text-center  font-weight-bold"><u>Milestone Calculator</u></h5>
      <div class="input-group input-group-sm col-sm-12 m-0 p-0">
        <div class="col-sm-12 form-control text-sm-right text-dark" type="text">{{input}}</div>
      </div>
  
      <div class="input-group input-group-lg col-sm-12 m-0 p-0">
        <div class="form-control text-md-right text-primary" type ="text" >{{output}}</div>
      </div>
  
      <div class="col-sm-12 p-1 m-0">
        <button class="btn btn-info col-sm-9" type="button" (click)="claer()">C</button>
        <button class="btn btn-secondary col-sm-3" type="button" (click)="insert('/')">/</button>
      </div>
   
      <div class="col-sm-12 p-1 m-0">
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('7')">7</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('8')">8</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('9')">9</button>
        <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="insert('*')">*</button>
      </div>
  
      <div class="col-sm-12 p-1 m-0">
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('4')">4</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('5')">5</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('6')">6</button>
        <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="insert('-')">-</button>
      </div>
  
      <div class="col-sm-12 p-1 m-0">
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('1')">1</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('2')">2</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('3')">3</button>
        <button class="btn btn-lg btn-secondary col-sm-3 p-1" type="button" (click)="insert('+')">+</button>
      </div>
  
      <div class="col-sm-12 p-1 m-0">
        <button class="btn btn-lg btn-outline-secondary  col-sm-3 p-1" type="button" (click)="dot('.')">.</button>
        <button class="btn btn-lg btn-outline-secondary col-sm-3 p-1" type="button" (click)="insert('0')">0</button>
        <button class="btn btn-lg btn-success col-sm-6 p-1" type="button" (click)="equal()">=</button>
      </div>
  
  </div>
  </div>
  
  